.navbar {
  left: 0;
  top: 0;
/*  position: fixed;
  transform: translateZ(0);*/
  width: 100%;
  padding: 0 35px;
/*  z-index: 10;*/
}

.navbar-light {
  background-color: #094074;
  min-height: 70px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left-content {
  display: flex;
  align-items: center;
}

.nav-left-content {
  color: #FFF;
  font-weight: bolder;
}

.nav-left-content img {
  width: 60px;
  margin-left: 8px;
}

.navbar-brand p {
  margin-bottom: 0;
  margin-left: 1em;
}

#link {
  cursor: pointer;
  color: #FFF;
  opacity: 0.7;
  text-decoration: none;
}

#link:hover {
  opacity: 1;
}

#profile-link {
  cursor: pointer;
  color: #FFF;
}
