@import "_navbar.css";
@import "_footer.css";
@import "_auth.css";
@import "_profile.css";
@import "_country_card.css";


body {
 background-color: #eff1f2;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.min-height {
  min-height: 100vh;
  position: relative;
}

h1, h2 {
  color: #575D90;
}

#container-padding {
  padding-bottom: 15rem;
}
